## 1. Import Necessary Libraries
We begin by importing the required Python libraries for data analysis.

In [1]:
import pandas as pd
import numpy as np
import re
from sentence_transformers import SentenceTransformer
import torch
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

c:\Users\onur_\anaconda3\envs\home_project\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## 2. Load Dataset
Next, we load our dataset into a Pandas DataFrame for analysis.

In [2]:
data = pd.read_csv('job_posting_short.csv')

## 3. Data Overview
Let's start by getting a high-level overview of the dataset.

In [3]:
# Display the first few rows of the dataset
data.head()

,Job Id,Job Title,SOC Code,Job Description,Company Name,Skills,Qualification,City,State,Zipcode,Job Opening Date,Job Closing Date,Status,Website Url
0,660d47be5c2db28218b65ad0df9965a2,"Patient Care Associate, 32 hrs/wk, Night Shift...",31-1014.00,<br/> <br/><b>Summary</b><br/> <br/>Provide di...,Partners Urgent Care,"[Patient Care, Nursing]",NaN,Charlestown,Massachusetts,2129.0,2021-07-13,NaN,OPEN,http://partnersurgentcare.org/
1,771a3aa4bc17d7bd51b2eb2c9e823223,Global Marketing Manager,11-2021.00,<p>Find what drives you on a team with a more ...,Danaher Corporation,"[Global Marketing, Integrated Marketing, Field...",NaN,Westborough,Massachusetts,1581.0,2021-08-03,NaN,OPEN,http://www.danaher.com
2,572ee827c4d17d2cb0b460620f54208f,Housekeeper,37-1011.00,<!--/.col-xs-12--><br/><section><br/> <br/><no...,Brightview Senior Living,NaN,NaN,North Andover,Massachusetts,1845.0,2021-09-08,2021-09-28,CLOSED,www.brightviewseniorliving.com
3,ec13e41aca8d302b2659a3290be93723,Cisco Voice Engineer,17-2199.00,<br/> <br/>VOICE ENGINEER<br/> <br/> <b>Job fu...,Softworld,"[c, VOIP, Cisco, MS Office tools, Genesys, SIP...",NaN,Dorchester,Massachusetts,2121.0,2021-08-31,2021-09-16,CLOSED,http://www.softworldinc.com
4,c6752d3d66618756e866128a1e3ed5bb,Contract Administrator II,11-3061.00,<br/> <br/> Job Description <br/> <br/>...,Artech Information Systems LLC,NaN,NaN,Marlborough,Massachusetts,1752.0,2021-09-11,NaN,OPEN,http://www.artech.com

In [4]:
# Get information about the dataset (e.g., data types, missing values)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18862 entries, 0 to 18861
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Job Id            18862 non-null  object
 1   Job Title         18862 non-null  object
 2   SOC Code          18862 non-null  object
 3   Job Description   18781 non-null  object
 4   Company Name      18862 non-null  object
 5   Skills            14268 non-null  object
 6   Qualification     6438 non-null   object
 7   City              18807 non-null  object
 8   State             18862 non-null  object
 9   Zipcode           18806 non-null  float64
 10  Job Opening Date  18862 non-null  object
 11  Job Closing Date  6880 non-null   object
 12  Status            18862 non-null  object
 13  Website Url       18862 non-null  object
dtypes: float64(1), object(13)
memory usage: 2.0+ MB

## 4. Data Preprocessing

In [5]:
# Check for missing values
data.isnull().sum()

Job Id                  0
Job Title               0
SOC Code                0
Job Description        81
Company Name            0
Skills               4594
Qualification       12424
City                   55
State                   0
Zipcode                56
Job Opening Date        0
Job Closing Date    11982
Status                  0
Website Url             0
dtype: int64

In [6]:
# In order to fill missing values in "City" column, first, I checked Zipcodes but it was also missing. So, I decided the fill missing values with mode of "City". Since all of the jobs were in Massachusetts.
data["City"]=data["City"].fillna(data['City'].mode().iloc[0])

In [7]:
# Define a condition for filling missing values in column Job Description
condition=(data["Job Description"].isnull()) & (data["Skills"].notnull())
# Filling missing Job Description column values with "Job Title" and "Skills" (if "Skills" columns is present)
data.loc[condition, "Job Description"] = data["Job Title"]+", "+data["Skills"]

In [8]:
# If "Skills" column is not present drop the missing values in the "Job Description"(drop rows)
data.dropna(subset=["Job Description"], inplace=True)

In [9]:
# Define a function to clean and preprocess text
def clean_and_preprocess_text(text):
    # 1. Remove HTML tags
    CLEANR = re.compile('<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});')
    text = re.sub(CLEANR, '', text)

    # 2. Remove links
    url = re.compile(r'https?://\S+|www\.\S+')
    text=url.sub(r'',text)

    # 3. Remove special characters, punctuation, and digits
    text = re.sub(r'[^a-zA-Z\s]', '', text)

    # 4. Convert to lowercase
    text = text.lower()

    # 5. Tokenization
    tokens = word_tokenize(text)

    # 6. Remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]

    # 7. Stemming 
    stemmer = PorterStemmer()
    stemmed_tokens = [stemmer.stem(word) for word in tokens]

    # 8. Join tokens back into text
    cleaned_text = ' '.join(stemmed_tokens)

    return cleaned_text

# Clean and preprocess the original Job Description
data['Job Description'] = data['Job Description'].apply(clean_and_preprocess_text)

In [10]:
# Remove empty values after cleaning the text
data=data[data["Job Description"]!=""]

In [11]:
#Merging "City" and "State" columns into one column
data["Location"]=data["City"]+"/"+data["State"]
#Renaming columns according to project requirements.
data=data.rename(columns={"Job Opening Date":"Posting_Date","Website Url":"Source","Job Description":"Job_Description","Job Title":"Job_Title","Company Name":"Company_Name","Job Id":"Job_Id"})

In [12]:
data=data[["Job_Id","Job_Title","Job_Description","Company_Name","Location","Posting_Date","Source"]]

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18847 entries, 0 to 18861
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Job_Id           18847 non-null  object
 1   Job_Title        18847 non-null  object
 2   Job_Description  18847 non-null  object
 3   Company_Name     18847 non-null  object
 4   Location         18847 non-null  object
 5   Posting_Date     18847 non-null  object
 6   Source           18847 non-null  object
dtypes: object(7)
memory usage: 1.2+ MB

## 5. Generating Embeddings
To capture the semantic and contextual information within text data, I utilized the "paraphrase-MiniLM-L6-v2" model. This choice was made because Sentence-BERT models, like "paraphrase-MiniLM-L6-v2," are explicitly designed for generating sentence embeddings and excelling in tasks related to sentence similarity. This particular model, which is built upon the efficient MiniLM architecture, offers strong performance on various sentence similarity tasks while maintaining computational efficiency.

In [14]:
# Check if CUDA (GPU) is available
if torch.cuda.is_available():
    # Set the device to CUDA
    print("using GPU")
    device = torch.device("cuda")
else:
    # Use CPU if CUDA is not available
    device = torch.device("cpu")

# Load the SBERT model with the specified device
model = SentenceTransformer('sentence-transformers/paraphrase-MiniLM-L6-v2', device=device)

using GPU

In [15]:
# Apply SBERT to the 'Job Description' column and store the embeddings in a new column
data['job_description_embeddings'] = data['Job_Description'].apply(lambda x: model.encode(x, convert_to_tensor=True))

## 6. Implementing Milvus for Duplicate Detection

In this section, I have successfully set up a Milvus instance and performed data insertion, specifically for the Job_Id, Job_Title, and job_description_embeddings columns. Subsequently, I implemented a duplicate search function.

I utilized the L2 parameter to compute the distance between text embeddings, and I set the threshold parameter to 1, aiming to identify absolute duplicates. It's worth noting that this threshold can be adjusted if we desire to capture near-duplicates as well.

In [18]:
from pymilvus import connections, FieldSchema, CollectionSchema, DataType, Collection, utility

# Connect to a server
connections.connect(host='localhost', port='19530')

# Create collection, insert data and build index
def create_milvus_collection(collection_name, dim):
    if utility.has_collection(collection_name):
        utility.drop_collection(collection_name)
    
    fields = [
            FieldSchema(name="Job_Id", dtype=DataType.VARCHAR, is_primary=True, auto_id=False,max_length=500),
            # FieldSchema(name="Job_Description",dtype=DataType.VARCHAR,max_length=50000),
            FieldSchema(name="Job_Title",dtype=DataType.VARCHAR,max_length=50000),
            # FieldSchema(name="Company_Name",dtype=DataType.VARCHAR,max_length=50000),
            # FieldSchema(name="Location",dtype=DataType.VARCHAR,max_length=50000),
            # FieldSchema(name="Posting_Date",dtype=DataType.VARCHAR,max_length=50000),
            # FieldSchema(name="Source",dtype=DataType.VARCHAR,max_length=50000),
            FieldSchema(name="job_description_embeddings", dtype=DataType.FLOAT_VECTOR, dim=dim),

    ]
    schema = CollectionSchema(fields=fields, description='search duplicate text')
    collection = Collection(name=collection_name, schema=schema)

    # Inserting the data in smaller batches in order to avoid grpc rpcerror 
    batch_size=20000
    for i in range(0, len(data), batch_size):
        print(i+batch_size)
        job_ids = [j_id for j_id in data["Job_Id"].to_list()[i:i+batch_size]]
        job_titles = [j_title for j_title in data["Job_Title"].to_list()[i:i+batch_size]]
        embeds1 = [embed.cpu().numpy() for embed in data["job_description_embeddings"].to_list()[i:i+batch_size]]
        collection.insert([job_ids,job_titles,embeds1])

    # After final collection is inserted, it is best to call flush to have no growing segments left in memory
    collection.flush()

    index_params = {
        'metric_type': "L2",
        'index_type': "IVF_FLAT",
        'params': {"nlist": 2048}
    }
    collection.create_index(field_name='job_description_embeddings', index_params=index_params)
    return collection

collection = create_milvus_collection('search_duplicate', len(data["job_description_embeddings"][0]))

20000

In [21]:
def search_for_duplicates(query_embedding, threshold=1):
    connections.connect(host="localhost",port="19530")
    search_clause = query_embedding.lower()
    search_encode = [list(i) for i in model.encode([search_clause])]
    collection = Collection('search_duplicate')
    collection.load()
    documents = collection.search(data=search_encode, anns_field="job_description_embeddings", param={"metric":"L2"},
                    output_fields=["Job_Id","Job_Title"], limit=100)
    distance,job_id,title=[],[],[]
    # Filter results based on the similarity threshold
    for values in documents:
        for doc in values:
            if doc.distance<threshold:
                distance.append(doc.distance)
                job_id.append(doc.id)
                title.append(doc.entity._row_data["Job_Title"])
    # Filter results based on the similarity threshold

    dict = {'job_id': job_id, 'Job_Title': title, 'distance': distance} 
    
    df = pd.DataFrame(dict)
    collection.release()

    return df
    


df= search_for_duplicates(data["Job_Description"][0])

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

Batches: 100%|██████████| 1/1 [00:00<00:00,  8.36it/s]

In [22]:
df

,job_id,Job_Title,distance
0,3cb6552225decf057254975fb34b74a2,"Patient Care Associate (CNA), 24 hrs, Nights",0.000000
1,a868b63df4241cfa47e340b20db8f3a6,"Patient Care Associate, 24 hrs/wk, Night Shift...",0.000000
2,f32455780a2f1a798a9d088eea671858,"Patient Care Associate (CNA), 32 hrs, Nights",0.000000
3,6d73552246ba49b2472dd6699d1ab8c8,"Patient Care Associate, 32 hrs/wk, Day Shift, ...",0.000000
4,c2a1023d48a0d466733ef3817741f6ad,"Patient Care Associate, 40 hrs/wk, Day Shift, ...",0.000000
5,660d47be5c2db28218b65ad0df9965a2,"Patient Care Associate, 32 hrs/wk, Night Shift...",0.000000
6,a7c10d77ac266f048f5c0f21fc4230e0,"Patient Care Associate, 32 hrs/wk, Day Shift, ...",0.000000
7,e00c0266c03266fe4e60202b38cae3e2,Patient Care Associate (CNA) - Overnight Shift...,0.335985
8,d0bfecf7a00eb06752db57af8bd9e631,Patient Care Associate (CNA) - Evening Shift -...,0.335985
9,f23f5e109e557063b19241c73eb356a,"Patient Care Associate, 32 Hour Day Rotating S...",0.414922